            <aside class="col-12 col-md-3 layout-column sidebar navbar-light navbar-expand-md">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

                <div class="collapse navbar-collapse fixedsticky" id="navbarSupportedContent">
                
                <div class="nav flex-column nav-pills">    
                    <a class="nav-link{% if page == "home" %} active{% endif%}" href="/">Home</a>
                    <a class="nav-link{% if page == "typography" %} active{% endif%}" href="/typography.html">Typography</a>
                    <a class="nav-link{% if page == "buttons" %} active{% endif%}" href="/buttons.html">Buttons</a>
                    <a class="nav-link{% if page == "forms" %} active{% endif%}" href="/forms.html">Forms</a>
                </div>
                
                </div>     
      
            </aside>
