            <aside class="col-xs-12 col-md-3 layout-column sidebar">
                <ul class="nav nav-pills nav-stacked collapse navbar-toggleable-sm fixedsticky" id="exCollapsingNavbar">
                  <li class="nav-item">
                    <a class="nav-link{% if page == "home" %} active{% endif%}" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link{% if page == "typography" %} active{% endif%}" href="/typography.html">Typography</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link{% if page == "buttons" %} active{% endif%}" href="/buttons.html">Buttons</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link{% if page == "forms" %} active{% endif%}" href="/forms.html">Forms</a>
                  </li>
                </ul>
                
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        &#9776;
                    </button>                
                
            </aside>
