{% set page="typography" %}
 {% extends "html/_layouts/page.html" %}
{% block pagetitle %}Typography{% endblock %}
{% block content %}
<h1>Typography</h1>
                <h2>Headings</h2>
                
                <h1>h1. Bootstrap heading</h1>
                <h2>h2. Bootstrap heading</h2>
                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <h6>h6. Bootstrap heading</h6>
                
                <h2>Display headings</h2>
                
                <h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>
{% endblock %}
